.gesture_table{
	width:780px;
	background:url(/web/20090730080907im_/http://us.wii.com/images/common/diag_lines.gif);
	font-size: 11px;
	margin:20px auto;
}
.gesture_table td{
	width:50%;
	padding:10px 10px 280px 10px;
	background:white no-repeat center bottom;
	color:#69707b;
}
td.gesture_intro{
	padding:10px;
	background:#f5faff;
}
td.gesture_intro dt{
	padding-left:15px;
	background-image: url(/web/20090730080907im_/http://us.wii.com/images/common/blue_brick.gif);
	background-repeat: repeat-y;
}
td.gesture_intro dt img{
	float:left;
	margin-right:5px;
}
.gesture_table dl{
	padding:0px;
	margin:0px;
}
.gesture_table dt{
	font-size:14px;
	font-weight:bold;
	color:#45c4ef;
	margin:0px 0px 8px 0px;
	padding:0px;
}
.gesture_table dd{
	padding:0px;
	margin:0px;
	line-height:13px;
}
.gesture_table dd img{
	position:relative;
	top:3px;
	margin-top:-5px;
}

/*
     FILE ARCHIVED ON 08:09:07 Jul 30, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:38:27 Aug 19, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 542.355
  exclusion.robots.policy: 212.146
  PetaboxLoader3.resolve: 165.968 (2)
  xauthn.identify: 211.82
  CDXLines.iter: 19.899 (3)
  LoadShardBlock: 289.553 (3)
  xauthn.chkprivs: 0.038
  load_resource: 348.905
  RedisCDXSource: 17.397
  esindex: 0.012
  exclusion.robots: 212.159
  PetaboxLoader3.datanode: 388.345 (4)
*/